extends ../layout

block content
  include ../../../includes/angular
  script(src='/app/ng/modules/addProduct/addProduct.app.js')
  script(src='/app/ng/modules/addProduct/addProduct.router.js')
  script(src='/app/ng/modules/addProduct/controllers/addProduct.controller.js')
  script(src='/app/ng/modules/addProduct/controllers/productForm.controller.js')

  .container
    h1 #{title}
    div(ng-app='addProduct')
      div(ng-view)