/**
 * CONTENTS
 *
 * SPACINGS
 * Margin...............All margin customization
 *
 * BUTTONS
 * Button custom.........Customization on buttons
 *
 * COLORS
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * HTML, BODY...........Customization on HTML and Body
 * Wrapper..............The container wrapper.
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/************* Margin *****************/

.m-0 {
    margin: 0;
}

.mt-30{
   margin-top: 30px; 
}

.mb-30{
   margin-bottom: 30px; 
}

.mr-10 {
    margin-right: 10px;
}
/************* Padding *****************/

.p-20 {
    padding: 20px;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn-150 {
    width: 150px;
}

/*------------------------------------*\
    #COLORS
\*------------------------------------*/

.f5f5f5{
	background-color: #f5f5f5;
}

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/*********** Sticky footer ************/
html,body{
	height: 100%;
}

/*********** Sticky footer ************/
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}