extends layout

block content
  .container
    .row
      .jumbotron
        h1 Merry Kit Merchant
          p.mt-30
            | Get your own ecommerce web space and using 
            strong 
              | merry kit's merchant 
              | tools make your products reach out to millions of people.
          p
            a.btn.btn-primary.btn-lg.btn-150.mr-10(href="/seller/signup") Sign Up
            a.btn.btn-primary.btn-lg.btn-150(href="/seller/login") Login