//Angular Libraries
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js")