<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Choose category for your product</legend>
          <div class="form-group" ng-repeat="categories in categoriesArr">
            <label class="col-lg-2 control-label">Category {{$index+1}}</label>
            <div id="firstCategory" class="col-lg-10">
              <select ng-model="categoryKey" ng-change="categoryChange($index, categoryKey)" class="form-control">
                <option value="">Select</option>
                <option value="{{key}}" ng-repeat="(key,category) in categories">{{category.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2"><a ng-show="nextActive" ng-href="{{nextHash+'/'+categoryParam}}" class="btn btn-primary">Next</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
